<!DOCTYPE html>
<html>
<head>
{% load static %}
<title>Registration Page</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/registration-page.css' %}">
</head>
<body background="{% static 'images/app_bg.jpg' %}" alt="My image">
    <div class="registration_form">
    <form action="" method="post"  style="width: 300px">
        {% csrf_token %}
        {{ registration_form }}
    <input class=register_button type="submit" value="Register">
    </form>
</div> 
<script>
    document.getElementsByClassName("registration_form")[0].classList.add("mystyle");
</script>
</body>
</html>
